pre {
  font-family: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1.title {
  font-weight: 100;
  text-align: center;
}

a {
  text-decoration: none;
  color: $color-b1;
  &.link {
	color: $color-base;
	font-weight: bold;
  }
}

.gap-header-link {
  & > *:not(:last-child) {
	margin-right: 48px;
  }
}

@media (max-width: 1200px) {
  .gap-header-link {
	& > *:not(:last-child) {
	  margin-right: 16px;
	}
  }
}

.up-button {
  display: none;
}

.active {
  & > a {
	&:hover {
	  border-bottom: 0;
	}
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
	margin: 0;
	padding: 0;
  }
}

.bold {
  font-weight: bold;
}

.highlight {
  & > a {
	color: $color-w3 !important;
  }
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden-h1 {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.fixed-top-left {
  position: fixed;
  top: 0;
  margin-left: 960px;
  height: 100%;
  z-index: 999;
}

button,
input,
[contenteditable] {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;

  &:focus,
  &:active,
  &:visited {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	outline: 0;
  }
}

.text-right {
  text-align: right;
}

.right-align {
  margin-left: auto;
}

.center-align {
  position: absolute;
  margin: 0 50%;
  left: 0;

  a {
	display: flex;
	margin: 0 0 0 -50%;
  }
}

@media (min-width: 1200px) {
  .container {
	max-width: calc(1400px + 15px + 15px) !important;
  }
}

.city-select-list {
  position: absolute;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid $color-b5;
  z-index: 9999999999;

  & > li {
	display: block;

	&:not(:first-child) {
	  border-top: 1px solid $color-b5;
	}

	a {
	  display: block;
	  color: $color-b2;
	  padding: 10px 15px;
	  font-size: 12px;

	  &:hover {
		color: $color-b1;
	  }

	  b {
		display: block;
		margin-top: 3px;
	  }
	}

	&:hover a {
	  background-color: $color-b6;
	  color: $color-b1;
	}
  }
}

.layout--a {
  padding-right: 15px;
  padding-left: 15px;
}